/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--white: #ffffff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
	--fallback-b2: white;
	background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

/* Dark theme tweaking. I just want to avoid making specific modifications in each subfiles and repeat myself.*/
button.colorThemeToggle {
	fill: black;
}

[data-theme="dark"] button.colorThemeToggle {
	color: var(--white);
}

[data-theme="dark"] .tham-inner {
	background-color: var(--accent);

}

[data-theme="dark"] .language-switcher span {
	color: var(--accent);
}

[data-theme="dark"] .social-links a path {
	fill: white;
}

[data-theme="dark"] footer {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0, 1) 100%);
}


[data-theme="dark"] button.themeToggle {
	background-color: transparent;
}

[data-theme="dark"] header#navbar {
	color: var(--accent);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

[data-theme="dark"] h1,
[data-theme="dark"] h2,
[data-theme="dark"] h3,
[data-theme="dark"] h4,
[data-theme="dark"] h4.title,
[data-theme="dark"] h5,
[data-theme="dark"] h6,
[data-theme="dark"] .prose .title .date {
	color: white;
}

.main-carousel {
	mask-image: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(3, 1, 35, 1) 27%, rgba(14, 14, 20, 1) 97%, rgba(17, 17, 17, 0) 100%);
}

[data-theme="dark"],
[data-theme="dark"] button.themeToggle .moon {
	--gray-dark: white;
	--accent: #bea963;
	--tglbg: ;
	--fallback-n: black;
	--fallback-b2: black;
	background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
	fill: white;
}

/* End of dark theme tweaking.*/


@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--gray-dark);
	font-size: 20px;
	line-height: 1.7;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

a:hover {
	color: var(--accent);
}

p {
	margin-bottom: 1em;
}

/*.prose p {
	margin-bottom: 2em;
}*/
textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}



hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@counter-style empty-style {
	system: extends decimal;
	suffix: ' ';
}

ol {
	list-style-type: auto;
	padding-inline: 20px;
	padding-top: 50px;
}

ol>li::marker {
	font-weight: bold;
	color: var(--accent);
}

 ul.hideScripts li script {
  display: none;
}

ul.alignLis li {
  flex-direction: row;
}

sup {
	font-size: 90%;
}

html.dark .pageFindIsItDark  .pagefind-ui.svelte-e9gkc3, html.dark .pagefind-ui__result-title.svelte-4xnkmf .pagefind-ui__result-link.svelte-4xnkmf{
  color: #bea963;
}

input.pagefind-ui__search-input.svelte-e9gkc3 {
  color: black;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}

	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
