---
import type { HTMLAttributes } from "astro/types";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

import LangageSwitcher from "./LangageSwitcher.astro";
import ThemeIcon from "./ThemeIcon.astro";
import SearchModal from "./SearchModal.astro";

import { ROUTES_ARCHIVES_CUTE } from "../consts";

interface Props {
  numeroPage: String;
  href: any;
}

const { href, numeroPage } = Astro.props;

const lang = getLangFromUrl(Astro.url);

let routeArchives = ROUTES_ARCHIVES_CUTE[lang];

const t = useTranslations(lang);
---

<ul
  class="menu sm:menu-horizontal rounded-box sm:flex-row sm:flex-nowrap hideScripts alignLis"
>
  <li class="pt-1">
    <a class="display_flex" href={href}>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        ></path>
      </svg>
      <p class="m-0 w-[3rem]">{t("nav.home")}</p>
    </a>
  </li>
  <li class="archivesLink z-10 pt-[0.6rem]">
    <details class="archivesLinkDetails">
      <summary class="archivesLinkSummary">Archives</summary>
      <ul>
        <li><a href={`${routeArchives}`}>{t("lesCUTE")}</a></li>

      </ul>
    </details>
  </li>
  <li class="pt-1">
    <a class="display_flex w-[8rem]" href={t("link.about")}>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
      </svg>
      <p class="m-0">{t("nav.about")}</p>
    </a>
  </li>
  <li class="pt-1"><SearchModal searchBarId="desktopSearchBar" /></li>
  <li class="pt-1"><ThemeIcon /></li>
  <li class="pt-2"><LangageSwitcher numeroPage={numeroPage} /></li>
</ul>

<style>
  a.display_flex {
    display: flex;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>

<script>
  const box = document.getElementsByClassName("archivesLink");
  const summary: HTMLCollectionOf<HTMLLinkElement> =
    document.getElementsByClassName(
      "archivesLinkSummary",
    ) as HTMLCollectionOf<HTMLLinkElement>;
  const openOrNot = document.getElementsByClassName("archivesLinkDetails");

  document.addEventListener("click", function handleClickOutsideBox(event) {
    if (
      box !== null &&
      summary !== null &&
      openOrNot !== null &&
      event.target !== null
    ) {
      // @ts-ignore
      if (!box[0].contains(event.target)) {
        if (openOrNot[0].hasAttribute("open")) summary[0]?.click();
      }
    }
  });
</script>
