---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

import {
  findPageId,
  isMainPage,
  switchMainPageLang,
  translatedText,
} from "../data/fetchData";

interface Props {
  numeroPage: String;
}

const lang = getLangFromUrl(Astro.url);

let translationURL: string = "";

const result = translatedText(Astro.url);

translationURL = result.pathname;

let pageID = findPageId(Astro.url);

if (isMainPage(Astro.url)) {
  pageID = 0;
  translationURL = switchMainPageLang(Astro.url, pageID).pathname;
}

let doItOrNot = "";

if (result.pathname === "/undefined")
  // Si il n'y a pas de traduction.
  doItOrNot = "!hidden opacity-0 pointer-events-none";

let otherClasses = "languageSwitcher sm:block";

const t = useTranslations(lang);
const { numeroPage } = Astro.props;
---

<astro-langage-switcher
  data-message={lang}
  data-translation={translationURL}
  data-nopage={numeroPage}
  class={doItOrNot + otherClasses}
>
  <label class="flex cursor-pointer gap-2 language-switcher">
    <span class="label-text text-slate-950">{t("langageSwitcherLeft")}</span>
    <input
      type="checkbox"
      checked="true"
      class="toggle theme-controller langageSwitcher"
    />
    <span class="label-text text-slate-950">{t("langageSwitcherRight")}</span>
  </label>
</astro-langage-switcher>
<style>
  .languageSwitcher {
    display: block;
  }
</style>

<script>
  class AstroLangageSwitcher extends HTMLElement {
    constructor() {
      super();

      buttons.forEach((input: HTMLInputElement) => {
        input.checked = false;
      });

      // Read the message from the data attribute.
      let translationURL = this.dataset.translation;
      let noPage = this.dataset.nopage;

      if (noPage) {
        let test = Number(noPage);
        if (isNaN(test)) {
          translationURL = `/${noPage}`;

          if (noPage.at(0) === "/") {
            translationURL = noPage;
          }
        }
      }

      const input = this.querySelector("input");
      if (input !== null) {
        input.addEventListener("click", () => {
          if (translationURL) {
            window.location.assign(translationURL);
          }
        });
      }
    }
  }
  // Find all buttons with the `alert` class on the page.
  const buttons = document.querySelectorAll("input.langageSwitcher");
  customElements.define("astro-langage-switcher", AstroLangageSwitcher);
</script>
